{
  "authorization": {
    "sudo": {
      "users": ["deploy"]
    }
  },
  "localegen": {
    "lang": [
      "en_US.UTF-8",
      "ru_RU.UTF-8",
      "en_US.UTF-8 UTF-8",
      "ru_RU.UTF-8 UTF-8"
    ]
  },
  "newrelic": {
    "license_key": "nr_key",
    "hostname": "node.host.name"
  },
  "firewall_allow":[
    {"port": "22", "ip": "any"},
    {"port": "80", "ip": "any"},
    {"port": "443", "ip": "any"}
  ],
  "nginx":{
    "run_user": "www-data",
    "reconfigure": true,
    "update_ufw_rules": true,
    "use_stable_ppa": true,
    "sites": [
      {
        "template": "unicorn",
        "run_user": "deploy",
        "app_name": "node",
        "server_name": "node.host.name",
        "upstream_name": "node_prod",
        "shared_unicorn_name": "shared/tmp/sockets"
      },
      {
        "template": "static",
        "run_user": "deploy",
        "app_name": "node",
        "server_name": "node.host.name"
      }
    ]
  },
  "rvm": {
    "user_installs": [
      {
        "user": "deploy",
        "default_ruby": "2.1.5",
        "rubies": ["2.1.5"]
      }
    ]
  },
  "postgresql": {
    "version": "9.3",
    "pg_hba": [
      { "type": "local", "db": "all", "user": "postgres", "addr": "",             "method": "peer" },
      { "type": "local", "db": "all", "user": "all",      "addr": "",             "method": "peer" },
      { "type": "host",  "db": "all", "user": "all",      "addr": "127.0.0.1/32", "method": "md5" },
      { "type": "host",  "db": "all", "user": "all",      "addr": "::1/128",      "method": "md5" }
    ]
  },
  "run_list": [
    "role[server]",
    "role[nginx]",
    "role[postgres-server]",
    "role[rails-app]",
    "role[elastic-server]",
    "role[redis-serve]"
  ]
}
