{
  "id": "dbname",
  "owner": "dbownername",
  "encoding": "utf8",
  "locale": "en_US.UTF8",
  "template": "template0",
  "extensions": ["hstore", "pg_trgm", "uuid-ossp"],
  "languages": "plpgsql",
  "postgis": true
}
